* {
	padding: 0px;
	margin: 0px;
}

html,body{
	height: 100%;width: 100%;margin:0;padding:0;
}

body{
	background:url(image/background.png)no-repeat;
    width:100%;
    height:100%;
    background-size:100% 100%;
	background-attachment: fixed;
    background-position: center;
	position:absolute;
    filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='bg-login.png',sizingMethod='scale');
	font-family: Arial, sans-serif;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#main {
    transition: margin-left .5s;
    padding: 16px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}



.star_i {
    padding-top: 100%;
    width: 200%;
}

.star_s {
    width: 50%;
}

#star_s1{
    margin-top: -240px;
    display: none;  
}

#star_s2{
    margin-left: 240px;
    display: none;
}

#star_s3{
    margin-left: -140px;
    display: none;
}

#star_s4{
    margin-top: 100px;
    display: none;
}

#star_s5{
    margin-top: -82px;
    margin-left: 227px;
    display: none;
}



a{
	outline: 0;
	text-decoration: none;
}

.modal-bg{
	position:fixed;
	left:0;right:0;
	top:0;bottom:0;
	z-index:100;
	background-color:rgba(50,50,50,0.5);
}

.top{
	width:100%;
}

form{
	display:block;
	margin:30px;
}

form *{
	margin:10px;

}

input:focus{
	border:2px solid #5DC3A7;
  outline:0;
}

input{
	width:90%;
	padding:7px;
	border:2px solid #ccc ;
	border-radius:3px;
}
button{
	float: right;
	padding: 8px 12px;
	margin-top: 15px;
    margin-right: 8%;
	background: #5DC3A7;
	border: none;
	color: #fff;
	border-bottom: 3px solid #23AA84;
	border-radius: 3px;
	cursor: pointer;
}
button:hover{
	background-color: #0FC491;
}
#modal{
	position:absolute;
	display:none;
	background-color:#F5F5F6;
	top:50%;
	left:50%;
	z-index:101;
	margin-top:-130px;
	margin-left:-170px;
	border-bottom: 3px solid #5DC3A7;
	box-shadow:0 0 10px 0 rgba(0,0,0,0.3);
}

#modal span{
	display: block;
	background:#5DC3A7;
	padding: 10px;
	color:#fff;
	border-radius:3px;
	width:100%;
}

#close{
	float: right;
	color: #fff;
	font-family: serif;
	font-size: 15px;
	
}

#close:hover{
	color: #000;
	
}

.celebrate {
	margin: auto;
	display: block;
	padding-top: 5%;
	width: 100%;
}

.hospital {
	margin: auto;
    padding: none;
    bottom: 0px;
    left: 0px;
	z-index: -1;
    position: absolute; 
    
}

@media screen and (max-width: 450px){
    .hospital{
        width:50%;
    }
}

.donate {
	margin: auto;
    padding: none;
    position: absolute;
	width: 260px;
	bottom: 0px;
	right: 0px;
	float: right;
}

@media screen and (max-width: 450px){
    .donate{
        width:30%;
    }
}

/* Required Stylesheets */
.wheel-button {
  position: relative;
}

.wheel {
  margin: 0;
  padding: 0;
  list-style: none;
  width: 500px; /* this will determine the diameter of the circle  */
  height: 500px; /* this will determine the diameter of the circle  */
  visibility: hidden;
  position: relative;
  display: none;
}

.wheel li {
  overflow: hidden;
  float:left;
}

.wheel li a {
  display: block;
}

#shareMenu {
    display: none;
}

#twitter {
    width: 70%;
    padding-left: 12%;
    padding-bottom: 5%;
}

#fb {
    width: 70%;
    padding-left: 12%;
}







	